@import "../../styles/variables.scss";

.language-translate {
  background-color: $grey-1;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 40%;
  //   min-height: 30rem;
  .language-textarea {
    border: none;
    resize: none;
    width: 100%;
  }
  .header-languages {
    display: flex;
    border-bottom: 1px solid $btn-hover-grey;
    gap: 1rem;
  }

  .section-textarea {
    min-height: 50%;
  }

  .section-text-count {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .translate-btn {
      background-color: $primary-btn;
      padding: 1rem;
      color: $text-color;
      font-weight: 700;
      border-radius: 0.5rem;
    }
  }
}
