@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");
@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("../assets/hero_img.jpg") no-repeat center top fixed;
  background-size: cover;
}

body {
  font-family: "DM Sans", sans-ser;
  font-weight: 500;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: $grey-2;
  font-family: inherit;
  font-size: 0.75rem;
}

.bold {
  font-weight: 700;
}

// Logo Styles
.header-logo {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.main {
  margin: 4rem 4.5rem;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .translate-widget {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .translate-widget {
    margin: 4rem 1.5rem;
  }
}
