@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");
@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("../assets/hero_img.jpg") no-repeat center top fixed;
  background-size: cover;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: $text-grey;
}

.main {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  color: $text-grey;
  cursor: pointer;
}

textarea {
  background: none;
  border: none;
  color: $text-color;
}
textarea:focus {
  outline: none;
}
