@import "../../styles/variables.scss";
.translate-widget {
  background-color: $bg-translate;
  border-radius: 1rem;
  width: 50%;
  padding: 2rem;
  &.translate-output {
    background-color: $bg-translated;
  }
  .language-options {
    display: flex;
    gap: 1rem;

    .btn {
      font-size: 0.875rem;
      font-weight: 700;
    }
  }
  .selected-language {
    background-color: $grey-2;
    color: $white;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  .header {
    display: flex;
    align-items: center;
    color: $grey-2;
    font-weight: 700;
    padding-bottom: 0.75rem;
    gap: 1.8rem;
    border-bottom: 2px solid $grey-2;
    .detect-language {
      font-size: 0.875rem;
    }

    .btn-switcher {
      margin-left: auto;
    }
  }
  .language-input {
    padding-top: 1.8rem;
    textarea {
      background: none;
      resize: none;
      width: 100%;
      border: none;
      color: $white;
      font-size: 1rem;
    }
    textarea:focus {
      outline: none;
    }
  }
  .text-count {
    display: flex;
    justify-content: flex-end;
    p {
      color: $grey-2;
      font-size: 0.875rem;
    }
  }
  .translate-output-text {
    visibility: hidden;
  }
  .language-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .sound-btn {
      margin-right: 0.5rem;
    }
    .translate-btn {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      background-color: $blue;
      color: $white;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;

      .a-icon {
        margin-right: 0.5rem;
      }
    }
    .translate-btn:hover {
      background-color: $blue-hover;
    }
  }
  .copy-btn,
  .sound-btn,
  .switcher-btn {
    padding: 0.5rem;
    border: 2px solid $grey-2;
    border-radius: 0.8rem;
  }

  .switcher-btn {
    margin-left: auto;
  }
}
